*{
    margin: 0;
    padding: 0;
    box-sizing: border-box 
}

.ysektionen{
    padding-top: 20px;
    float: right;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(snö.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 250px;
    float: left;
    height: 70px;
}

.logo{
    color: #00eeff;
    font-size: 35px;
    font-family: Arial;
    padding-left:  20px;
    float: left;
    padding-top: 20px;

}

.menu{
    width: auto;
    float: left;
    height: 70px;
}

ul{
    float: inline-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #00eeff;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #ffff;
    position: relative;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    margin-top: 3%;
}

.par{
    margin-top: 20px;
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 0.8px;
    line-height: 20px;
}

.collapsible{
    background: #b0faff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover{
    background: #84f7ff;
}

.collapsible:after{
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after{
    content: "\2796";
}

.collapsiblecontent{
    padding: 0 18px;
    max-height: 0px;
    color: black;
    overflow: hidden;
    background: #c4fbff;
    transition: max-height 0.2s ease-out;
    width: 70%;

}

